<div>
  <div>
    <p>Basic</p>
    FirstName: <input type="text" [(ngModel)]="profile.firstName">
    LastName: <input type="text" [(ngModel)]="profile.lastName">
  </div>
  <div>
    <p>Upload Documents</p>
    <div *ngFor="let doc of files">
      <p *ngIf="doc.required">*</p>
      Title: <input type="text" [(ngModel)]="doc.title">
      <button (click)="uploadDoc(doc)">Upload</button>
    </div>
    <button (click)="newDoc()">+</button>
  </div>
  <button (click)="submitProfile(profile)">Submit</button>
</div>