<mat-sidenav-container class="example-container">
    <mat-sidenav class="sidenav" mode="side" opened>
        <li><a routerLink="/admin/dashboard">DASHBOARD</a></li>
        <li><a routerLink="/admin/profiles">PROFILES</a></li>
    </mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>